@tailwind base;
@tailwind components;

.phase-tab {
      @apply text-center;
      @apply block;
      @apply border-white;
      @apply text-blue-500;
      @apply py-2;
      @apply px-4;
      @apply m-1;
      @apply rounded;
}

.phase-tab:hover {
      @apply bg-blue-300;
      @apply text-white;
}

.tab-active {
      @apply bg-blue-600;
      @apply text-white;
}

@tailwind utilities;

.container {
      padding: 100px;
}

.square-button-rb {
      display: inline-block;
      margin: auto;
      @apply bg-gray-300;
      @apply p-12;
}

.preload-button-rb {
      display: inline-block;
      margin: auto;
      @apply bg-gray-300;
      @apply p-12;
}

.preload-button-rb:hover {
      @apply bg-gray-400;
}

.preload-button-rb-active {
      @apply bg-blue-600;
      @apply text-white;
}

img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}

.start-button {
      background-image: linear-gradient(to bottom right, cyan, rgb(0, 89, 255), cyan, rgb(0, 89, 255), cyan);
      border: none;
      border-radius: 50%;
      color: white;
      padding: 150px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 96px;
      margin: 50px 200px;
}
    