@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
      padding: 100px;
}

.square-button-rb {
      display: inline-block;
      margin: auto;
      @apply bg-gray-300;
      @apply p-12;
}

img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}