@tailwind base;
@tailwind components;
@tailwind utilities;

.submenu {
  @apply inline-block;
  @apply border;
  @apply border-white;
  @apply rounded-lg;
  @apply text-blue-500;
  @apply py-1;
  @apply px-3;
  @apply text-sm;
  @apply bg-gray-100;
}

.submenu:hover {
  @apply border-gray-200;
  @apply bg-gray-200;
}
/* set for the top-row menu */

.status-menu {
  @apply inline-block;
  @apply border;
  @apply border-white;
  @apply rounded-lg;
  @apply text-black;
  @apply py-1;
  @apply px-3;
  @apply bg-gray-200;
  @apply text-center;
  @apply my-4;
}

.status-menu:hover {
  @apply border-gray-400;
  @apply bg-blue-500;
  @apply text-black;
}
/* set for the bottom-row menu */

.button-square {
  @apply border;
  @apply border-transparent;
  @apply border-4;
  @apply rounded-lg;
  display: inline-block;
  margin: 14px;
  @apply bg-gray-300;
  @apply p-12;
  @apply text-2xl;
}

.button-square:hover {
  @apply border-gray-700;
}
/* set for standard square buttons */

.button-rectangle {
  @apply border;
  @apply border-transparent;
  @apply border-4;
  @apply rounded-lg;
  display: inline-block;
  margin: 2px;
  @apply bg-gray-300;
  @apply p-2;
  @apply text-2xl;
}

.button-rectangle:hover {
  @apply border-gray-700;
}
/* set for standard rectangle (short) buttons */

.button-endgame {
  @apply border;
  @apply border-transparent;
  @apply border-4;
  @apply rounded-lg;
  display: block;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 60%;
  width: 60%;
  @apply bg-gray-300;
  @apply px-16;
}

.button-endgame:hover {
  @apply border-gray-700;
}
/* set for endgame status buttons */

.button-estop {
  @apply border;
  @apply border-transparent;
  @apply border-4;
  @apply rounded-lg;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60%;
  width: 60%;
  @apply bg-gray-300;
  @apply px-16;
}

.button-estop:hover {
  @apply border-gray-700;
}
/* special case set for the wider estop button */

.title {
  @apply text-4xl;
  text-align: center;
  /* font-family: tbd; */
}
/* the title line for each tab */

.robot-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 300px;
  width: 300px;
}
/* robot photo on info page */

.button-emoji {
  @apply border;
  @apply border-transparent;
  @apply border-4;
  @apply rounded-lg;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  @apply bg-gray-300;
  @apply px-16;
}

.button-emoji:hover {
  @apply border-gray-700;
}
/* set for emoji buttons */

.toggle-active {
  @apply bg-gray-500;
  @apply border-green-500;
}
/* button is toggled on */

.emoji-toggle-active {
  @apply bg-gray-500;
  @apply border-green-500;
}
/* emoji button is toggled on */

.start-button {
  border-color: transparent;
  background-image: linear-gradient(to right, cyan, rgb(57, 173, 219));
  @apply rounded-lg;
  height: 25%;
  padding-top: 5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  @apply text-6xl;
  text-align: center;
  display: block;
}
/* the start button */

.btn-reset {
  @apply rounded-lg;
  @apply text-2xl;
  position: absolute;
  bottom: 4;
  left: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  @apply bg-red-700;
}
/* reset button */

.btn-save {
  @apply rounded-lg;
  @apply text-2xl;
  position: absolute;
  bottom: 4;
  right: 1;
  margin-bottom: 4px;
  margin-left: 4px;
  @apply bg-blue-700;
}
/*save button*/

.pre-alert {
  background-color: white;
  animation-name: pre-alert-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pre-alert-animation {
  0% {
    background-color: red;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}
/* a slower alert for non-vital issues */

.alert {
  background-color: white;
  animation-name: alert-animation;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

@keyframes alert-animation {
  0% {
    background-color: red;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}
/* a fast alert for issues requiring immediate action */

.endgame-container {
  text-align: center;
}

.comments {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @apply border-gray-500;
  @apply border-4;
}

.section-title {
  @apply text-4xl;
  @apply font-bold;
  @apply bg-blue-200;
  @apply opacity-50;
}

.pit-bg {
  @apply leading-loose;
  @apply text-xl;
  background-image: repeating-linear-gradient(to right, rgb(164, 223, 146), rgb(217, 221, 149));
}

.pit-title {
  @apply text-6xl;
  @apply font-semibold;
  text-align: center;
  background-image: linear-gradient(to right, rgb(235, 124, 124), rgb(217, 221, 149));
}

.submit-button {
  @apply text-3xl;
  @apply m-4;
}

.index-bg {
  @apply bg-gray-200;
}

.app-select-button {
  @apply rounded-lg;
  @apply border-4;
  @apply text-6xl;
  @apply font-bold;
  @apply text-center;
  @apply border-gray-500;
  @apply bg-gray-200;
  margin-left: 32rem;
  margin-right: 32rem;
  padding-top: 75px;
  padding-bottom: 75px;
  vertical-align: center;
}

.app-select-button:hover {
  @apply border-gray-700;
}

.index-header {
  @apply text-6xl;
  text-align: center;
  @apply font-bold;
}

.index-welcome {
  @apply text-3xl;
  text-align: center;
  @apply text-blue-500;
}

.wipe {
  @apply rounded-lg;
  @apply border-4;
  @apply text-6xl;
  @apply font-bold;
  @apply text-center;
  @apply border-red-400;
  @apply bg-red-200;
  @apply text-red-800;
  margin-left: 32rem;
  margin-right: 32rem;
  padding-top: 75px;
  padding-bottom: 75px;
  vertical-align: center;
}

.wipe:hover {
  @apply border-red-700;
  background-image: radial-gradient(transparent, rgb(255, 0, 0));
  @apply text-black;
}

.colour-toggled {
  @apply bg-gray-500;
}

.station-toggled {
  @apply bg-gray-500;
}

.main-team-number-display {
  @apply flex-1;
  @apply mr-2;
  @apply text-center;
  @apply text-lg;
  @apply block;
  @apply border;
  @apply border-blue-500;
  @apply rounded;
  @apply py-2;
  @apply px-4;
  @apply bg-blue-500;
  @apply text-white;
}

.info-panel-display {
  @apply text-xl;
  @apply leading-loose;
  @apply font-black;
  text-align: center;
}
